<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <rakutenpay_configuration>
                <title>Configuration RakutenPay</title>
                <model>Rakuten\RakutenPay\Model\Payment\Billet</model>
                <environment>sandbox</environment>
                <document>document</document>
                <api_key>api_key</api_key>
                <signature_key>signature_key</signature_key>
                <email>email</email>
            </rakutenpay_configuration>
            <rakutenpay_billet>
                <model>Rakuten\RakutenPay\Model\Payment\Billet</model>
                <active>1</active>
                <title>Rakuten Boleto Bancário</title>
                <expiration>3</expiration>
                <instrucao1>Não receber após vencimento</instrucao1>
                <instrucao2>Não pagar em cheque</instrucao2>
                <instrucao3>Mais info em nosso site</instrucao3>
                <instruction><![CDATA[
                Pagar o boleto em qualquer casa lotérica.
                O boleto não será enviado ao seu endereço.
                Não parcelamos no boleto.
            ]]></instruction>
            </rakutenpay_billet>
            <!--<rakutenpay_cc>-->
                <!--<model>Rakuten\RakutenPay\Model\Payment\Billet</model>-->
                <!--<active>1</active>-->
                <!--<title>Rakuten Cartão de Crédito</title>-->
                <!--<installments>-->
                    <!--<installments_active>0</installments_active>-->
                    <!--<customer_interest>0</customer_interest>-->
                    <!--<minimum_installments>10</minimum_installments>-->
                    <!--<maximum_installments_quantity>10</maximum_installments_quantity>-->
                <!--</installments>-->
            <!--</rakutenpay_cc>-->
        </payment>
    </default>
</config>