<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <rakutenpay_configuration>
                <title>Configuration RakutenPay</title>
                <model>Rakuten\RakutenPay\Model\Payment\Billet</model>
                <environment>sandbox</environment>
                <document>document</document>
                <api_key>api_key</api_key>
                <signature>signature</signature>
                <email>email</email>
                <notification>{{base_url}}rakutenpay/notification/webhook/</notification>
            </rakutenpay_configuration>
            <rakutenpay_billet>
                <active>0</active>
                <model>Rakuten\RakutenPay\Model\Payment\Billet</model>
                <title>Rakuten Boleto Bancário</title>
                <expiration>3</expiration>
                <instruction><![CDATA[Imprima o boleto e pague no banco ou na internet utilizando o seu código de barras. O boleto não será enviado ao seu endereço. Não parcelamos no boleto.]]></instruction>
            </rakutenpay_billet>
            <rakutenpay_cc>
                <active>0</active>
                <group>rakutenpay</group>
                <model>Rakuten\RakutenPay\Model\Payment\Billet</model>
                <title>Rakuten Cartão de Crédito</title>
                <installments_active>0</installments_active>
                <customer_interest>0</customer_interest>
                <minimum_installments>10</minimum_installments>
                <maximum_installments_quantity>10</maximum_installments_quantity>
            </rakutenpay_cc>
        </payment>
    </default>
</config>